<h1>List of your urls</h1>

<table class="table">
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th>Clicks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% url_shorteners.each do |url_shortener| %>
      <tr>
        <td><%= url_shortener.original_url %></td>
        <td><%= url_shortener.shortened_url %></td>
        <td><%= url_shortener.used %></td>
        <td><%= button_to "Delete", url_shortener, :method => "delete", class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>